@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');
*{
  box-sizing: border-box;
}
body{
  background-color: #F3F3F3;
  font-family: Roboto;
}
.topo{
  width: 100%;
  height: 80px;
  background-color:#FFFFFF ;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 22px;
  padding-right: 16px;
  box-shadow: 0px 4px 6px  rgba(0, 0, 0, 0.05);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
.topo img{
  width: 75px;
  height: 53px;
}
.topo ion-icon{
  width: 42px;
  height: 31px;
  ;
}
.caixa-de-mensagens{
  margin-top: 106px;
  margin-bottom: 80px;
  overflow: scroll;


}
.mensagem{
  margin-bottom: 4px;
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 12px;
  padding-left: 4px;
  border-radius: 2px;
  word-break: break-all;

}
.status{
  background-color:#DCDCDC ;
}
.normal{
  background-color: #FFFFFF;
 
}
.reservada{
  background-color: #FFDEDE;
}
.mensagem span{
  color:#AAAAAA;
}

.botao-inferior{
  width: 100%;
  height: 80px;
  position: fixed;
  bottom: 0px;
  left: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 14px;
  padding-right: 22px;
  background-color:#FFFFFF ;
  box-shadow: 0px -4px 6px  rgba(0, 0, 0, 0.05);

  z-index: 1;
}
.botao-inferior .campo-de-mensagem{
  font-size: 18px;
  font-style: italic;
  outline: none;
  border:none;
}
.botao-inferior ion-icon{
  font-size: 26px;
}

.escondido{
  display: none;
}
.aparecido{
  display: block;
}
.tela-participantes{
  width: 70%;
  height: 100%;
  background-color: white;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
  overflow: scroll;
}

.titulo{
  text-align: center;
  margin-top: 23px;
  margin-bottom: 23px;
  font-weight: bold;
}
.titulo:nth-child(3){
  margin-top: 10px;
}

.opcoes{
  display: flex;
  font-size: 16px;
  align-items: center;
  padding-bottom: 10px;
}
.opcoes ion-icon:first-child{
  font-size: 22px;
  padding-left:17px ;
  padding-right: 4px;  
}
.check {
  color: #28BB25;
  font-size: 14px;
  --ionicon-stroke-width: 100px;
  position: absolute;
  right: 10px;
  
}
.parte-sombreada{
  width: 30%;
  height: 100%;
  background-color:#00000099;  
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
}